@model IssueTrackerV1.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New User</h2>

@using (@Html.BeginForm("Save", "User"))
{
    <div class=" form-group">
        @Html.LabelFor(m => m.User.Name)
        @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
    </div>

    <div class=" form-group">
        @Html.LabelFor(m => m.User.Birthdate)
        @Html.TextBoxFor(m => m.User.Birthdate, "{0:d MMM yyy}", new { @class = "form-control" })
    </div>

    <div class=" form-group">
        @Html.LabelFor(m => m.User.MembershipTypeId)
        @Html.DropDownListFor(m => m.User.MembershipTypeId, new SelectList (Model.MembershipTypes, "Id", "Name"), "Select Membership Type",new { @class = "form-control" })
    </div>

    <div class=" checkbox">
        <label>
            @Html.CheckBoxFor(m => m.User.IsSubscribedToNewsletter) Suscribed to Newletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.User.Id)
    <button type ="submit" class ="btn btn-primary"> Save</button>
}

